{% load static %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'forum/style.css' %}"  />

<div id="header">
<h2>Direct Democracy</h2>
</div>

<div id="createIssue">
    <form action="{% url 'forum:index' %}" method="post">
	{% csrf_token %}
	<label for="new_issue">Issue Title: </label>
	<input id="new_issue" type="text" name="new_issue_title" value="Title...">
	<input type="submit" value="OK" />
    </form>
</div>

<div id="navigation">
</div>

<div id="content">
    <div id="issues">
	{% for issue in latest_issues_list %}
	<li><a href="{% url 'forum:issue' issue.id %}">{{ issue.description }}</a></li>
	{% endfor %}
    </div>
</div>
